<!-- component -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<div class="min-h-screen flex flex-row bg-gray-100">
  <%= render('partials/navbar') %>
  <main class="min-h-screen w-full bg-[#F4ECEC]">
          <div class="flex items-center mt-10">
            <div class="ml-20 text-4xl">Books</div>
          </div>
          <div class="mx-10 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 mt-8 bg-transparent max-h-[150%] drop-shadow-md">
            <% if @books.nil? %>
              <span class="mx-10 mt-6 text-4xl no-underline justify-center">Nothing here</span>
            <% else %>
              <% @books.each do |book| %>
                <div class="h-1/2 px-10">
                  <div class="bg-white rounded-t-md ">
                    <div class="">
                      <div class="p-2 relative">
                        <p class="text-lg mt-2 mb-0 mx-2 font-semibold"><%= book.title %></p>
                        <p class="text-sm mx-2">By <%= book.author %></p>
                        <button class="bg-violet-500 hover:bg-violet-700 py-2 px-4 rounded-full absolute -top-6 p-0.5 border-2 right-6">
                          <%= link_to "Details", book, class: "text-white font-bold no-underline"%>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
  </main>
</div>
